<!DOCTYPE html>
<div class="copyright">NOTICE: This report is intended only for the addressee shown above and may contain conﬁdential or privileged information. If the recipient of this material is not the intended recipient or if you have received this in error, please notify Microbial Insights, Inc. immediately. The data and other information in this report represent only the sample(s) analyzed and are rendered upon condition that it is not to be reproduced without approval from Microbial Insights, Inc. Thank you for your cooperation.</div>
<div id="footer">
    <table class="full">
        <tr>
            <td></td>
            <td>10515 Research Drive<br />Knoxville, TN 37922<br />Phone: 865.573.8188<br />Fax: 865.573.8133<br />Web: www.microbe.com</td>
        </tr>
    </table>
</div>