@model Microbe.Models.ReportModels.ReportSectionFigures

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ReportSectionFigures</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReportSectionFigureID" />
            <div class="form-group">
                <label asp-for="ReportSectionID" class="control-label"></label>
                <input asp-for="ReportSectionID" class="form-control" />
                <span asp-validation-for="ReportSectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectionFigureOrder" class="control-label"></label>
                <input asp-for="SectionFigureOrder" class="form-control" />
                <span asp-validation-for="SectionFigureOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FigureType" class="control-label"></label>
                <input asp-for="FigureType" class="form-control" />
                <span asp-validation-for="FigureType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FigureDesc" class="control-label"></label>
                <input asp-for="FigureDesc" class="form-control" />
                <span asp-validation-for="FigureDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FigureSuffix" class="control-label"></label>
                <input asp-for="FigureSuffix" class="form-control" />
                <span asp-validation-for="FigureSuffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
