@model Microbe.Models.ProjectInformationModels.LIMS_Client

@{
    ViewData["Title"] = "Edit";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<br />
<br />
<br />
<br />
@if (SignInManager.IsSignedIn(User))
{

    <h2>Edit</h2>

    <h4>LIMS_Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ClientID" />
                <div class="form-group">
                    <label asp-for="DisplayName" class="control-label"></label>
                    <input asp-for="DisplayName" class="form-control" />
                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyName" class="control-label"></label>
                    <input asp-for="CompanyName" class="form-control" />
                    <span asp-validation-for="CompanyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientNotes" class="control-label"></label>
                    <input asp-for="ClientNotes" class="form-control" />
                    <span asp-validation-for="ClientNotes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="active" class="control-label"></label>
                    <input asp-for="active" class="form-control" />
                    <span asp-validation-for="active" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="primaryinvname" class="control-label"></label>
                    <input asp-for="primaryinvname" class="form-control" />
                    <span asp-validation-for="primaryinvname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="secondaryinvname" class="control-label"></label>
                    <input asp-for="secondaryinvname" class="form-control" />
                    <span asp-validation-for="secondaryinvname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateAdded" class="control-label"></label>
                    <input asp-for="DateAdded" class="form-control" />
                    <span asp-validation-for="DateAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
            }
            else
            {
    <h2>Please Login to continue...</h2>
            }